
 <div><app-menu></app-menu></div>
 
 <button routerLink='/statement' type="button">Mini Statement</button>
 <button type="button">Check Balance</button>
 
 <div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">


<H3 align="center"><strong>PRIMO INTERNET BANKING</strong></H3> <br />
<div class="panel panel-primary">
<div class="panel-heading" >
  <h5 style="color:steelblue;">DEAR CUSTOMER , <p><br>PRIMO BANK IS AT YOUR FINGERTIPS. <br><p>

    We assure secure fund transfers using our online Banking Services.</h5></div>

 </div></div></div>
